In [30]:
import pandas as pd
import numpy as np
from pympler import asizeof
import sys
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
# support different types of file
df_1 = pd.read_csv('archive/monroe county car crach 2003-2015.csv', encoding_errors = 'ignore')

In [5]:
(asizeof.asizeof(df_1)/1024)/1024

37.494895935058594

In [6]:
df_1.describe()

,Year,Month,Day,Hour,Latitude,Longitude
count,53943.000000,53943.000000,53943.000000,53718.000000,53913.000000,53913.000000
mean,2008.968059,6.662162,4.196912,1347.265349,35.582109,-78.619224
std,3.789760,3.514630,1.909440,531.654039,11.289883,24.957587
min,2003.000000,1.000000,1.000000,0.000000,0.000000,-88.959213
25%,2006.000000,4.000000,3.000000,1000.000000,39.142048,-86.551520
50%,2009.000000,7.000000,4.000000,1400.000000,39.164430,-86.530992
75%,2012.000000,10.000000,6.000000,1700.000000,39.173344,-86.508288
max,2015.000000,12.000000,7.000000,2300.000000,41.228665,86.596363

In [129]:
attributes_dict = dict()
for i in df_1.columns:
    attributes_dict[i] = {'count': df_1[i].count(),
                         'null_values': df_1[i].isnull().sum(),
                         'unique_values': df_1[i].drop_duplicates().count()}
    if str(df_1[i].dtype).startswith('int') or str(df_1[i].dtype).startswith('float'):
        attributes_dict[i].update({"mean": df_1[i].mean(), "std": df_1[i].std()})
        if df_1[i].notnull().sum() <= 100:
            bins = 5
        elif df_1[i].notnull().sum() > 100 and df_1[i].notnull().sum() <= 5000:
            bins = 10
        else:
            bins = 20

        bin_size = ( df_1[i].max() - df_1[i].min())/bins
        list_classes = []
        for number in range(bins):
            prev_num = df_1[i].min() + (number*bin_size)
            next_num = df_1[i].min() + (1+(number*bin_size))
            class_id = (prev_num + next_num) / 2 
            if str(df_1[i].dtype).startswith('int'):
                list_classes.append([round(prev_num), round(class_id), round(next_num)])
            else:
                list_classes.append([prev_num, class_id, next_num])
            list_classes = pd.Series(list_classes).drop_duplicates().to_list()

        deletable_series = df_1[i]
        for bin in range(len(list_classes)):
            bin_element = list_classes[bin]
            list_classes[bin].append(deletable_series[(deletable_series>= bin_element[0]) & (deletable_series< bin_element[2])].notnull().sum())
            deletable_series = deletable_series[~((deletable_series>= bin_element[0]) & (deletable_series< bin_element[2]))]

        # final_list = []
        # for bin_element in list_classes:
        #     if bin_element[3] > 0:
        #         final_list.append(bin_element)
        # del list_classes
        
        # attributes_dict[i].update({"histogram": final_list, "bin_size":bin_size})

        attributes_dict[i].update({"histogram": list_classes, "bin_size":bin_size})

In [130]:
attributes_dict

{'Year': {'count': 53943,
  'null_values': 0,
  'unique_values': 13,
  'mean': 2008.9680588769627,
  'std': 3.7897595387706904,
  'histogram': [[2003, 2004, 2004, 4625],
   [2004, 2004, 2005, 4269],
   [2004, 2005, 2005, 0],
   [2005, 2005, 2006, 3967],
   [2005, 2006, 2006, 0],
   [2006, 2006, 2007, 3937],
   [2007, 2007, 2008, 4055],
   [2007, 2008, 2008, 0],
   [2008, 2008, 2009, 4341],
   [2008, 2009, 2009, 0],
   [2009, 2010, 2010, 4014],
   [2010, 2010, 2011, 4060],
   [2010, 2011, 2011, 0],
   [2011, 2011, 2012, 3914],
   [2011, 2012, 2012, 0],
   [2012, 2012, 2013, 4223],
   [2013, 2013, 2014, 4058],
   [2013, 2014, 2014, 0],
   [2014, 2014, 2015, 4167],
   [2014, 2015, 2015, 0]],
  'bin_size': 0.6},
 'Month': {'count': 53943,
  'null_values': 0,
  'unique_values': 12,
  'mean': 6.6621619116474795,
  'std': 3.5146299812206867,
  'histogram': [[1, 2, 2, 4665],
   [2, 2, 3, 4541],
   [2, 3, 3, 0],
   [3, 3, 4, 3842],
   [3, 4, 4, 0],
   [4, 4, 5, 4574],
   [4, 5, 5, 0],
   [5, 5, 6, 4212],
   [5, 6, 6, 0],
   [6, 6, 7, 3752],
   [6, 7, 8, 3820],
   [7, 8, 8, 0],
   [8, 8, 9, 4480],
   [8, 9, 9, 0],
   [9, 9, 10, 4994],
   [9, 10, 10, 0],
   [10, 10, 11, 5581],
   [10, 11, 11, 0],
   [11, 11, 12, 4884],
   [11, 12, 12, 0]],
  'bin_size': 0.55},
 'Day': {'count': 53943,
  'null_values': 0,
  'unique_values': 7,
  'mean': 4.196911554789315,
  'std': 1.9094398595870792,
  'histogram': [[1, 2, 2, 5291],
   [2, 2, 3, 7473],
   [2, 3, 3, 0],
   [2, 3, 4, 8133],
   [3, 3, 4, 0],
   [3, 4, 4, 0],
   [4, 4, 5, 7880],
   [4, 5, 5, 0],
   [5, 5, 6, 8122],
   [5, 6, 6, 0],
   [6, 6, 6, 0],
   [6, 6, 7, 9680],
   [6, 7, 7, 0],
   [7, 7, 8, 7364]],
  'bin_size': 0.3},
 'Weekend?': {'count': 53875, 'null_values': 68, 'unique_values': 2},
 'Hour': {'count': 53718,
  'null_values': 225,
  'unique_values': 24,
  'mean': 1347.265348672698,
  'std': 531.6540390804066,
  'histogram': [[0.0, 0.5, 1.0, 1115],
   [115.0, 115.5, 116.0, 0],
   [230.0, 230.5, 231.0, 0],
   [345.0, 345.5, 346.0, 0],
   [460.0, 460.5, 461.0, 0],
   [575.0, 575.5, 576.0, 0],
   [690.0, 690.5, 691.0, 0],
   [805.0, 805.5, 806.0, 0],
   [920.0, 920.5, 921.0, 0],
   [1035.0, 1035.5, 1036.0, 0],
   [1150.0, 1150.5, 1151.0, 0],
   [1265.0, 1265.5, 1266.0, 0],
   [1380.0, 1380.5, 1381.0, 0],
   [1495.0, 1495.5, 1496.0, 0],
   [1610.0, 1610.5, 1611.0, 0],
   [1725.0, 1725.5, 1726.0, 0],
   [1840.0, 1840.5, 1841.0, 0],
   [1955.0, 1955.5, 1956.0, 0],
   [2070.0, 2070.5, 2071.0, 0],
   [2185.0, 2185.5, 2186.0, 0]],
  'bin_size': 115.0},
 'Collision Type': {'count': 53937, 'null_values': 6, 'unique_values': 7},
 'Injury Type': {'count': 53943, 'null_values': 0, 'unique_values': 4},
 'Primary Factor': {'count': 52822, 'null_values': 1121, 'unique_values': 55},
 'Reported_Location': {'count': 53908,
  'null_values': 35,
  'unique_values': 19364},
 'Latitude': {'count': 53913,
  'null_values': 30,
  'unique_values': 15370,
  'mean': 35.58210880609305,
  'std': 11.289883481707335,
  'histogram': [[0.0, 0.5, 1.0, 4908],
   [2.0614332735, 2.5614332735, 3.0614332735, 0],
   [4.122866547, 4.622866547, 5.122866547, 0],
   [6.1842998205, 6.6842998205, 7.1842998205, 0],
   [8.245733094, 8.745733094, 9.245733094, 2],
   [10.3071663675, 10.8071663675, 11.3071663675, 0],
   [12.368599641, 12.868599641, 13.368599641, 0],
   [14.4300329145, 14.9300329145, 15.4300329145, 0],
   [16.491466188, 16.991466188, 17.491466188, 0],
   [18.5528994615, 19.0528994615, 19.5528994615, 0],
   [20.614332735, 21.114332735, 21.614332735, 0],
   [22.675766008500002, 23.175766008500002, 23.675766008500002, 0],
   [24.737199282, 25.237199282, 25.737199282, 0],
   [26.7986325555, 27.2986325555, 27.7986325555, 0],
   [28.860065829, 29.360065829, 29.860065829, 0],
   [30.9214991025, 31.4214991025, 31.9214991025, 0],
   [32.982932376, 33.482932376, 33.982932376, 0],
   [35.0443656495, 35.5443656495, 36.0443656495, 0],
   [37.105798923, 37.605798923, 38.105798923, 1],
   [39.1672321965, 39.6672321965, 40.1672321965, 20468]],
  'bin_size': 2.0614332735},
 'Longitude': {'count': 53913,
  'null_values': 30,
  'unique_values': 16068,
  'mean': -78.6192235322299,
  'std': 24.95758672112615,
  'histogram': [[-88.959213, -88.459213, -87.959213, 3],
   [-80.18143422050001, -79.68143422050001, -79.18143422050001, 0],
   [-71.40365544100001, -70.90365544100001, -70.40365544100001, 0],
   [-62.6258766615, -62.1258766615, -61.6258766615, 0],
   [-53.848097882000005, -53.348097882000005, -52.848097882000005, 0],
   [-45.07031910250001, -44.57031910250001, -44.07031910250001, 0],
   [-36.292540323000004, -35.792540323000004, -35.292540323000004, 0],
   [-27.5147615435, -27.0147615435, -26.5147615435, 0],
   [-18.736982764000004, -18.236982764000004, -17.736982764000004, 0],
   [-9.959203984500007, -9.459203984500007, -8.959203984500007, 0],
   [-1.1814252050000107, -0.6814252050000107, -0.1814252050000107, 0],
   [7.5963535745, 8.0963535745, 8.5963535745, 0],
   [16.374132353999997, 16.874132353999997, 17.374132353999997, 0],
   [25.151911133499993, 25.651911133499993, 26.151911133499993, 0],
   [33.929689913000004, 34.429689913000004, 34.929689913000004, 0],
   [42.70746869249999, 43.20746869249999, 43.70746869249999, 0],
   [51.485247472, 51.985247472, 52.485247472, 0],
   [60.26302625150001, 60.76302625150001, 61.26302625150001, 0],
   [69.04080503099999, 69.54080503099999, 70.04080503099999, 0],
   [77.8185838105, 78.3185838105, 78.8185838105, 0]],
  'bin_size': 8.7777787795}}

In [9]:
df_1.to_csv('result.csv')

In [75]:
(2003+2015)/20

200.9

In [16]:
str(df_1.Latitude.dtype).startswith('float')

True

In [21]:
test_dict = {"a": 1}

In [22]:
test_dict.update({'b':2})

In [23]:
test_dict

{'a': 1, 'b': 2}

In [25]:
df_1.Latitude.std()

11.289883481707335

In [44]:
test_num = (df_1.Latitude.min() + df_1.Latitude.max())/10

In [50]:
df_1.Latitude.max()

41.22866547

In [40]:
df_1.Latitude

232.1917311189182

In [51]:
list_classes = []
for i in range(10+1):
    prev_num = df_1.Latitude.min() + (i*test_num)
    next_num = df_1.Latitude.min() + (1+(i*test_num))
    class_id = (prev_num + next_num) / 2 
    list_classes.append((class_id, next_num))

In [54]:
list_classes

[(0.5, 1.0),
 (4.622866547, 5.122866547),
 (8.745733094, 9.245733094),
 (12.868599641, 13.368599641),
 (16.991466188, 17.491466188),
 (21.114332735, 21.614332735),
 (25.237199282, 25.737199282),
 (29.360065829, 29.860065829),
 (33.482932376, 33.982932376),
 (37.605798923, 38.105798923),
 (41.72866547, 42.22866547)]

In [87]:
df_1['Latitude'][(df_1['Latitude']>= list_bin[0]) & (df_1['Latitude']< list_bin[2])]

Series([], Name: Latitude, dtype: float64)

In [131]:
test_list = [[2003, 2004, 2004, 4625],
   [2004, 2004, 2005, 4269],
   [2004, 2005, 2005, 0],
   [2005, 2005, 2006, 3967],
   [2005, 2006, 2006, 0],
   [2006, 2006, 2007, 3937],
   [2007, 2007, 2008, 4055],
   [2007, 2008, 2008, 0],
   [2008, 2008, 2009, 4341],
   [2008, 2009, 2009, 0],
   [2009, 2010, 2010, 4014],
   [2010, 2010, 2011, 4060],
   [2010, 2011, 2011, 0],
   [2011, 2011, 2012, 3914],
   [2011, 2012, 2012, 0],
   [2012, 2012, 2013, 4223],
   [2013, 2013, 2014, 4058],
   [2013, 2014, 2014, 0],
   [2014, 2014, 2015, 4167],
   [2014, 2015, 2015, 0]]

In [132]:
counter = 0
for i in test_list:
    counter += i[-1]

In [133]:
counter

49630

In [113]:
df_1.Year.notnull().sum()

53943

In [ ]:
I solved it