In [1]:
import pandas as pd
from pympler import asizeof
import sys

In [8]:
# support different types of file
df_1 = pd.read_csv('archive/monroe county car crach 2003-2015.csv', encoding_errors = 'ignore')

In [9]:
(asizeof.asizeof(df_1)/1024)/1024

41.590057373046875

In [10]:
df_1.describe()

,Year,Month,Day,Hour,Latitude,Longitude
count,53943.000000,53943.000000,53943.000000,53718.000000,53913.000000,53913.000000
mean,2008.968059,6.662162,4.196912,1347.265349,35.582109,-78.619224
std,3.789760,3.514630,1.909440,531.654039,11.289883,24.957587
min,2003.000000,1.000000,1.000000,0.000000,0.000000,-88.959213
25%,2006.000000,4.000000,3.000000,1000.000000,39.142048,-86.551520
50%,2009.000000,7.000000,4.000000,1400.000000,39.164430,-86.530992
75%,2012.000000,10.000000,6.000000,1700.000000,39.173344,-86.508288
max,2015.000000,12.000000,7.000000,2300.000000,41.228665,86.596363

In [11]:
attributes_dict = dict()
for i in df_1.columns:
    attributes_dict[i] = {'count': df_1[i].count(),
                         'null_values': df_1[i].isnull().sum(),
                         'unique_values': df_1[i].drop_duplicates().count()}

In [12]:
attributes_dict

{'Year': {'count': 53943, 'null_values': 0, 'unique_values': 13},
 'Month': {'count': 53943, 'null_values': 0, 'unique_values': 12},
 'Day': {'count': 53943, 'null_values': 0, 'unique_values': 7},
 'Weekend?': {'count': 53875, 'null_values': 68, 'unique_values': 2},
 'Hour': {'count': 53718, 'null_values': 225, 'unique_values': 24},
 'Collision Type': {'count': 53937, 'null_values': 6, 'unique_values': 7},
 'Injury Type': {'count': 53943, 'null_values': 0, 'unique_values': 4},
 'Primary Factor': {'count': 52822, 'null_values': 1121, 'unique_values': 55},
 'Reported_Location': {'count': 53908,
  'null_values': 35,
  'unique_values': 19364},
 'Latitude': {'count': 53913, 'null_values': 30, 'unique_values': 15370},
 'Longitude': {'count': 53913, 'null_values': 30, 'unique_values': 16068}}

In [18]:
df_1.to_csv('result.csv')

In [13]:
!pip install bokeh

Collecting bokeh
  Downloading bokeh-3.3.3-py3-none-any.whl (6.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.8/6.8 MB 1.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:010m
Requirement already satisfied: Jinja2>=2.9 in ./venv/lib64/python3.11/site-packages (from bokeh) (3.1.3)
Collecting contourpy>=1
  Downloading contourpy-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (313 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.4/313.4 kB 3.9 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.16 in ./venv/lib64/python3.11/site-packages (from bokeh) (1.26.3)
Requirement already satisfied: packaging>=16.8 in ./venv/lib64/python3.11/site-packages (from bokeh) (23.2)
Requirement already satisfied: pandas>=1.2 in ./venv/lib64/python3.11/site-packages (from bokeh) (2.1.4)
Collecting pillow>=7.1.0
  Using cached pillow-10.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (4.5 MB)
Requirement already satisfied: PyYAML>=3.10 in ./venv/lib64/python3.11/site-packages (from bokeh) (6.0.1)
Requirement already satisfied: tornado>=5.1 in ./venv/lib64/python3.11/site-packages (from bokeh) (6.4)
Collecting xyzservices>=2021.09.1
  Downloading xyzservices-2023.10.1-py3-none-any.whl (56 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 56.3/56.3 kB 2.3 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in ./venv/lib64/python3.11/site-packages (from Jinja2>=2.9->bokeh) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib64/python3.11/site-packages (from pandas>=1.2->bokeh) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib64/python3.11/site-packages (from pandas>=1.2->bokeh) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./venv/lib64/python3.11/site-packages (from pandas>=1.2->bokeh) (2023.4)
Requirement already satisfied: six>=1.5 in ./venv/lib64/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=1.2->bokeh) (1.16.0)
Installing collected packages: xyzservices, pillow, contourpy, bokeh
Successfully installed bokeh-3.3.3 contourpy-1.2.0 pillow-10.2.0 xyzservices-2023.10.1

[notice] A new release of pip available: 22.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip